<h2>Create a Task:</h2>
<form action="/" method="post" class="task-form">
  <label>Client: </label>
  <input type="text" name="client" id="client" required />
  <label>Task: </label>
  <input type="text" name="client" id="client" required />
  <input type="submit" value="Submit" />
</form>
